/* 
.footer_container {
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 0;
  padding: 5%;
  height: 13px;
  background-color: #d6e413;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: 'Urbanist';
  width: -webkit-fill-available;
  } */
  /* .footer_container h1 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    color: white;
  }
   */