
.footer_container {
    display: flex;
    margin: auto;
    padding: 5%;
    height: 13px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: 'Urbanist';
  }
  /* .footer_container h1 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    color: white;
  }
   */