.home_container {
    display: flex;
    margin: auto;
    padding: 9%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 211, 66);
    font-family: 'Urbanist';
  }