

.imagen {
  width: 100%;
  opacity: 0.6;
}
.titulo{
  justify-content: center;
}

/* .left-image{
  width: 51%;
}
.right-image{
  width: 49%;
}
.imagen{
  width: 100%;
  background-repeat: no-repeat;
} */
