.navbar_container {
  position: absolute;
width: 80.84px;
height: 28.53px;
left: 129.59px;
top: 3845.46px;

}

.navbar_container h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 30px;
  color: white;
}
